<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fusePong.persistence.mybatis.mappers.ProjectMapper">
    <resultMap type='Project' id='ProjectResult'>
        <id property='id' column='id_proyecto'/>
        <result property='name' column='nombre'/>
        <result property='company' column='empresa_nit'/>
        <!--        <association property="resources" javaType="Resource" resultMap="edu.eci.cvds.gestor.persistence.mybatis.mappers.ResourceMapper.ResourceResult" columnPrefix="re_"/>-->
        <!--        <association property="Uname" javaType="User" resultMap="edu.eci.cvds.gestor.persistence.mybatis.mappers.UserMapper.UserResult" columnPrefix="u_"/>-->
    </resultMap>

    <select parameterType="map" id="consultProyectosEmpresa" resultMap="ProjectResult">
        select
        p.id_proyecto,
        p.nombre,
        p.empresa_nit

        From Proyectos p
        JOIN Empresas e ON e.nit = p.empresa_nit
        JOIN Usuarios u ON u.empresa_nit = e.nit

        WHERE u.correo = #{email};
    </select>

    <select parameterType="map" id="consultProyectos" resultMap="ProjectResult">
        select
        p.id_proyecto,
        p.nombre,
        p.empresa_nit

        From Proyectos p;
    </select>

</mapper>