<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fusePong.persistence.mybatis.mappers.UserMapper">
    <resultMap type='User' id='UserResult'>
        <id property='id' column='id_usuario'/>
        <result property='name' column='nombre'/>
        <result property='email' column='correo'/>
        <result property='password' column='contraseña'/>
        <result property='role' column='rol'/>
        <result property='company' column='empresa_nit'/>
        <!--        <association property="resources" javaType="Resource" resultMap="edu.eci.cvds.gestor.persistence.mybatis.mappers.ResourceMapper.ResourceResult" columnPrefix="re_"/>-->
        <!--        <association property="Uname" javaType="User" resultMap="edu.eci.cvds.gestor.persistence.mybatis.mappers.UserMapper.UserResult" columnPrefix="u_"/>-->
    </resultMap>

    <insert id="registrarUsuario" parameterType="map">
        insert into Usuarios(nombre,correo,contraseña,rol,empresa_nit) values (#{nombre}, #{correo}, #{contraseña}, 'E', #{empresa})
    </insert>

</mapper>