<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="fusePong.persistence.mybatis.mappers.CompanyMapper">
    <resultMap type='Company' id='CompanyResult'>
        <id property='nit' column='nit'/>
        <result property='name' column='nombre'/>
        <result property='number' column='telefono'/>
        <result property='address' column='direccion'/>
        <result property='email' column='correo'/>
<!--        <association property="resources" javaType="Resource" resultMap="edu.eci.cvds.gestor.persistence.mybatis.mappers.ResourceMapper.ResourceResult" columnPrefix="re_"/>-->
<!--        <association property="Uname" javaType="User" resultMap="edu.eci.cvds.gestor.persistence.mybatis.mappers.UserMapper.UserResult" columnPrefix="u_"/>-->
    </resultMap>

</mapper>